// 
// Declarations  
// ========================================================================== 

//
// Features:
//

$bare-margin-n:						false !default;
$bare-margin-xs:					false !default;
$bare-margin-s:						false !default;
$bare-margin-m:						false !default;
$bare-margin-l:						false !default;
$bare-margin-xl:					false !default;
$bare-padding-n:					false !default;
$bare-padding-xs:					false !default;
$bare-padding-s:					false !default;
$bare-padding-m:					false !default;
$bare-padding-l:					false !default;
$bare-padding-xl:					false !default;


// 
// #margin-n
// ========================================================================== 

@if ($bare-margin-n == true) {

	.#{$bare-ns}ma-n 	{ margin: 0; }
	.#{$bare-ns}mt-n 	{ margin-top: 0; }
	.#{$bare-ns}mb-n 	{ margin-bottom: 0; }
	.#{$bare-ns}ml-n 	{ margin-left: 0; }
	.#{$bare-ns}mr-n 	{ margin-right: 0; }

}

// 
// #margin-xs
// ========================================================================== 

@if ($bare-margin-xs == true) {

	.#{$bare-ns}ma-xs 	{ margin: bareRem($bare-sp-xs); }
	.#{$bare-ns}mt-xs 	{ margin-top: bareRem($bare-sp-xs); }
	.#{$bare-ns}mb-xs 	{ margin-bottom: bareRem($bare-sp-xs); }
	.#{$bare-ns}ml-xs 	{ margin-left: bareRem($bare-sp-xs); }
	.#{$bare-ns}mr-xs 	{ margin-right: bareRem($bare-sp-xs); }

}

// 
// #margin-s
// ========================================================================== 

@if ($bare-margin-s == true) {

	.#{$bare-ns}ma-s 	{ margin: bareRem($bare-sp-s); }
	.#{$bare-ns}mt-s 	{ margin-top: bareRem($bare-sp-s); }
	.#{$bare-ns}mb-s 	{ margin-bottom: bareRem($bare-sp-s); }
	.#{$bare-ns}ml-s 	{ margin-left: bareRem($bare-sp-s); }
	.#{$bare-ns}mr-s 	{ margin-right: bareRem($bare-sp-s); }

}

// 
// #margin-m
// ========================================================================== 

@if ($bare-margin-m == true) {

	.#{$bare-ns}ma-m 	{ margin: bareRem($bare-sp-m); }
	.#{$bare-ns}mt-m 	{ margin-top: bareRem($bare-sp-m); }
	.#{$bare-ns}mb-m 	{ margin-bottom: bareRem($bare-sp-m); }
	.#{$bare-ns}ml-m 	{ margin-left: bareRem($bare-sp-m); }
	.#{$bare-ns}mr-m 	{ margin-right: bareRem($bare-sp-m); }

}

// 
// #margin-l
// ========================================================================== 

@if ($bare-margin-l == true) {

	.#{$bare-ns}ma-l 	{ margin: bareRem($bare-sp-l); }
	.#{$bare-ns}mt-l 	{ margin-top: bareRem($bare-sp-l); }
	.#{$bare-ns}mb-l 	{ margin-bottom: bareRem($bare-sp-l); }
	.#{$bare-ns}ml-l 	{ margin-left: bareRem($bare-sp-l); }
	.#{$bare-ns}mr-l 	{ margin-right: bareRem($bare-sp-l); }

}

// 
// #margin-xl
// ========================================================================== 

@if ($bare-margin-xl == true) {

	.#{$bare-ns}ma-xl 	{ margin: bareRem($bare-sp-xl); }
	.#{$bare-ns}mt-xl 	{ margin-top: bareRem($bare-sp-xl); }
	.#{$bare-ns}mb-xl 	{ margin-bottom: bareRem($bare-sp-xl); }
	.#{$bare-ns}ml-xl 	{ margin-left: bareRem($bare-sp-xl); }
	.#{$bare-ns}mr-xl 	{ margin-right: bareRem($bare-sp-xl); }

}

// 
// #padding-n
// ========================================================================== 

@if ($bare-padding-n == true) {

	.#{$bare-ns}pa-n 	{ padding: 0; }
	.#{$bare-ns}pt-n 	{ padding-top: 0; }
	.#{$bare-ns}pb-n 	{ padding-bottom: 0; }
	.#{$bare-ns}pl-n 	{ padding-left: 0; }
	.#{$bare-ns}pr-n 	{ padding-right: 0; }

}

// 
// #padding-xs
// ========================================================================== 

@if ($bare-padding-xs == true) {

	.#{$bare-ns}pa-xs 	{ padding: bareRem($bare-sp-xs); }
	.#{$bare-ns}pt-xs 	{ padding-top: bareRem($bare-sp-xs); }
	.#{$bare-ns}pb-xs 	{ padding-bottom: bareRem($bare-sp-xs); }
	.#{$bare-ns}pl-xs 	{ padding-left: bareRem($bare-sp-xs); }
	.#{$bare-ns}pr-xs 	{ padding-right: bareRem($bare-sp-xs); }

}

// 
// #padding-s
// ========================================================================== 

@if ($bare-padding-s == true) {

	.#{$bare-ns}pa-s 	{ padding: bareRem($bare-sp-s); }
	.#{$bare-ns}pt-s 	{ padding-top: bareRem($bare-sp-s); }
	.#{$bare-ns}pb-s 	{ padding-bottom: bareRem($bare-sp-s); }
	.#{$bare-ns}pl-s 	{ padding-left: bareRem($bare-sp-s); }
	.#{$bare-ns}pr-s 	{ padding-right: bareRem($bare-sp-s); }

}

// 
// #padding-m
// ========================================================================== 

@if ($bare-padding-m == true) {

	.#{$bare-ns}pa-m 	{ padding: bareRem($bare-sp-m); }
	.#{$bare-ns}pt-m 	{ padding-top: bareRem($bare-sp-m); }
	.#{$bare-ns}pb-m 	{ padding-bottom: bareRem($bare-sp-m); }
	.#{$bare-ns}pl-m 	{ padding-left: bareRem($bare-sp-m); }
	.#{$bare-ns}pr-m 	{ padding-right: bareRem($bare-sp-m); }

}

// 
// #padding-l
// ========================================================================== 

@if ($bare-padding-l == true) {

	.#{$bare-ns}pa-l 	{ padding: bareRem($bare-sp-l); }
	.#{$bare-ns}pt-l 	{ padding-top: bareRem($bare-sp-l); }
	.#{$bare-ns}pb-l 	{ padding-bottom: bareRem($bare-sp-l); }
	.#{$bare-ns}pl-l 	{ padding-left: bareRem($bare-sp-l); }
	.#{$bare-ns}pr-l 	{ padding-right: bareRem($bare-sp-l); }

}

// 
// #padding-xl
// ========================================================================== 

@if ($bare-padding-xl == true) {

	.#{$bare-ns}pa-xl 	{ padding: bareRem($bare-sp-xl); }
	.#{$bare-ns}pt-xl 	{ padding-top: bareRem($bare-sp-xl); }
	.#{$bare-ns}pb-xl 	{ padding-bottom: bareRem($bare-sp-xl); }
	.#{$bare-ns}pl-xl 	{ padding-left: bareRem($bare-sp-xl); }
	.#{$bare-ns}pr-xl 	{ padding-right: bareRem($bare-sp-xl); }

}