// 
// Declarations  
// ========================================================================== 

//
// Features:
//

$bare-margin-n:						false !default;
$bare-margin-xs:					false !default;
$bare-margin-s:						false !default;
$bare-margin-m:						false !default;
$bare-margin-l:						false !default;
$bare-margin-xl:					false !default;
$bare-padding-n:					false !default;
$bare-padding-xs:					false !default;
$bare-padding-s:					false !default;
$bare-padding-m:					false !default;
$bare-padding-l:					false !default;
$bare-padding-xl:					false !default;


// 
// #margin-n
// ========================================================================== 

@if ($bare-margin-n == true) {

	.u-ma-n 	{ margin: 0; }
	.u-mt-n 	{ margin-top: 0; }
	.u-mb-n 	{ margin-bottom: 0; }
	.u-ml-n 	{ margin-left: 0; }
	.u-mr-n 	{ margin-right: 0; }

}

// 
// #margin-xs
// ========================================================================== 

@if ($bare-margin-xs == true) {

	.u-ma-xs 	{ margin: bareRem($bare-sp-xs); }
	.u-mt-xs 	{ margin-top: bareRem($bare-sp-xs); }
	.u-mb-xs 	{ margin-bottom: bareRem($bare-sp-xs); }
	.u-ml-xs 	{ margin-left: bareRem($bare-sp-xs); }
	.u-mr-xs 	{ margin-right: bareRem($bare-sp-xs); }

}

// 
// #margin-s
// ========================================================================== 

@if ($bare-margin-s == true) {

	.u-ma-s 	{ margin: bareRem($bare-sp-s); }
	.u-mt-s 	{ margin-top: bareRem($bare-sp-s); }
	.u-mb-s 	{ margin-bottom: bareRem($bare-sp-s); }
	.u-ml-s 	{ margin-left: bareRem($bare-sp-s); }
	.u-mr-s 	{ margin-right: bareRem($bare-sp-s); }

}

// 
// #margin-m
// ========================================================================== 

@if ($bare-margin-m == true) {

	.u-ma-m 	{ margin: bareRem($bare-sp-m); }
	.u-mt-m 	{ margin-top: bareRem($bare-sp-m); }
	.u-mb-m 	{ margin-bottom: bareRem($bare-sp-m); }
	.u-ml-m 	{ margin-left: bareRem($bare-sp-m); }
	.u-mr-m 	{ margin-right: bareRem($bare-sp-m); }

}

// 
// #margin-l
// ========================================================================== 

@if ($bare-margin-l == true) {

	.u-ma-l 	{ margin: bareRem($bare-sp-l); }
	.u-mt-l 	{ margin-top: bareRem($bare-sp-l); }
	.u-mb-l 	{ margin-bottom: bareRem($bare-sp-l); }
	.u-ml-l 	{ margin-left: bareRem($bare-sp-l); }
	.u-mr-l 	{ margin-right: bareRem($bare-sp-l); }

}

// 
// #margin-xl
// ========================================================================== 

@if ($bare-margin-xl == true) {

	.u-ma-xl 	{ margin: bareRem($bare-sp-xl); }
	.u-mt-xl 	{ margin-top: bareRem($bare-sp-xl); }
	.u-mb-xl 	{ margin-bottom: bareRem($bare-sp-xl); }
	.u-ml-xl 	{ margin-left: bareRem($bare-sp-xl); }
	.u-mr-xl 	{ margin-right: bareRem($bare-sp-xl); }

}

// 
// #padding-n
// ========================================================================== 

@if ($bare-padding-n == true) {

	.u-pa-n 	{ padding: 0; }
	.u-pt-n 	{ padding-top: 0; }
	.u-pb-n 	{ padding-bottom: 0; }
	.u-pl-n 	{ padding-left: 0; }
	.u-pr-n 	{ padding-right: 0; }

}

// 
// #padding-xs
// ========================================================================== 

@if ($bare-padding-xs == true) {

	.u-pa-xs 	{ padding: bareRem($bare-sp-xs); }
	.u-pt-xs 	{ padding-top: bareRem($bare-sp-xs); }
	.u-pb-xs 	{ padding-bottom: bareRem($bare-sp-xs); }
	.u-pl-xs 	{ padding-left: bareRem($bare-sp-xs); }
	.u-pr-xs 	{ padding-right: bareRem($bare-sp-xs); }

}

// 
// #padding-s
// ========================================================================== 

@if ($bare-padding-s == true) {

	.u-pa-s 	{ padding: bareRem($bare-sp-s); }
	.u-pt-s 	{ padding-top: bareRem($bare-sp-s); }
	.u-pb-s 	{ padding-bottom: bareRem($bare-sp-s); }
	.u-pl-s 	{ padding-left: bareRem($bare-sp-s); }
	.u-pr-s 	{ padding-right: bareRem($bare-sp-s); }

}

// 
// #padding-m
// ========================================================================== 

@if ($bare-padding-m == true) {

	.u-pa-m 	{ padding: bareRem($bare-sp-m); }
	.u-pt-m 	{ padding-top: bareRem($bare-sp-m); }
	.u-pb-m 	{ padding-bottom: bareRem($bare-sp-m); }
	.u-pl-m 	{ padding-left: bareRem($bare-sp-m); }
	.u-pr-m 	{ padding-right: bareRem($bare-sp-m); }

}

// 
// #padding-l
// ========================================================================== 

@if ($bare-padding-l == true) {

	.u-pa-l 	{ padding: bareRem($bare-sp-l); }
	.u-pt-l 	{ padding-top: bareRem($bare-sp-l); }
	.u-pb-l 	{ padding-bottom: bareRem($bare-sp-l); }
	.u-pl-l 	{ padding-left: bareRem($bare-sp-l); }
	.u-pr-l 	{ padding-right: bareRem($bare-sp-l); }

}

// 
// #padding-xl
// ========================================================================== 

@if ($bare-padding-xl == true) {

	.u-pa-xl 	{ padding: bareRem($bare-sp-xl); }
	.u-pt-xl 	{ padding-top: bareRem($bare-sp-xl); }
	.u-pb-xl 	{ padding-bottom: bareRem($bare-sp-xl); }
	.u-pl-xl 	{ padding-left: bareRem($bare-sp-xl); }
	.u-pr-xl 	{ padding-right: bareRem($bare-sp-xl); }

}
